.signup-container {
  z-index: 10;
  min-height: 80px;
  width: 100%;
  border: 10px black;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 750px;
}

.signup-card {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  background: #F4F6F7;
  max-width: 750px;
  flex: 8;
  padding: 10px;
}

.signup-card-parking {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  background: #C5E6A6;
  max-width: 750px;
  flex: 8;
  padding: 10px;
}

.signup-card-no-parking {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  background: #F76C5E;
  max-width: 750px;
  flex: 8;
  padding: 10px;
}

.signup-card-main-text {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #4A4A4A;
}

.signup-card-help-text {
  text-align: center;
  font-size: 12px;
}
.signup-card-description-text {
  font-size: 20px;
}

.signup-card-rule-text {

}

.signup-card-phone-number input {
  border: 0.5px solid grey;
}

.signup-button-container {
  flex: 1;
}

.signup-button-container-disabled {
  flex: 1;
  opacity: 0.5;
}

.signup-button {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  background: #586BA4;
  font-size: 24px;
  color: #FFFFFA;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  vertical-align: middle;
  text-align: center;
}

.signup-button-text {
  font-size: 12px;
  font-weight: bold;
  /*color: #4A4A4A;*/
}
