.header {
  position: fixed;
  top: 0;
  z-index: 10;
  height: 40px;
  width: 100%;
  background-color: #F4E04D;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-about {
  opacity: 0;
}

.header-text {
  vertical-align: middle;
  font-size: 20px;
  font-weight: bold;
}

.header-link {

}
