.carto-map {
  height: 400px;
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
  z-index: 0;
}

/*.carto-map {
  width: 100%; height: 100%
}*/

body {
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
    width: 100vw;
}


/* iOS overrides */
button,
textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
  -webkit-appearance: none;
  border-radius: 0;
  border: none;
}
